<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js" id="hp"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="author" content="wangyali"/>
    <!--<meta name="keywords" content="和和影业">  关键词，已经不用了-->
    <meta name="description"
          content="​和和影业成立于2013年。出品发行《美人鱼》、《西游伏妖篇》、《追凶者也》、《黑处有什么》、《暴雪将至》等电影。2016年《美人鱼》打破华语电影史多个纪录。2017年《西游伏妖篇》再次刷新记录。"/>
    <!-- 内容描述 -->
    <meta name="theme-color" content="#861519">
    <meta name="msapplication-navbutton-color" content="#861519">
    <meta name="apple-mobile-web-app-status-bar-style" content="#861519">

    <meta name="robots" content="index,follow"/> <!-- 搜索优化，下同 -->
    <meta name="google" content="index,follow"/>
    <meta name="googlebot" content="index,follow"/>
    <meta name="verify" content="index,follow"/>


    <title>和和影业</title>

    <!--CSS-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/hehe/css/reset.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/style.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/index.css"/>
    <link rel="shortcut icon" href="../../static/hehe/images/icon.png"/>

</head>
<body class="index-bg">
<!--<div class="loading">
    <img src="../../static/hehe/images/loading.png"/>
</div>-->
<!-- Navigation -->
<div id="my-nav">
    <my-nav></my-nav>
</div>


<!--Slider BEGIN-->
<section id="mysection" class="slide-wrapper">

    <div class="container">
        <div id="mybanner" class="carousel slide">

            <!-- Indicators -->
            <div class="carousel-indicators-div">
                <!--<hr/>-->
                <ol class="carousel-indicators">
                    <template v-for="(bn,index) in banner">
                        <li data-target="#mybanner" v-bind:data-slide-to="index" v-bind:class='{active:index==0}'></li>
                    </template>
                </ol>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <template v-for="(bn,index) in banner">
                    <div class="item" v-bind:class='{active:index==0}'>
                        <div class="fill"
                             v-bind:style="{'background-image' : 'url('+'http://staging.hehefilm.com'+bn.mcover+')'}"
                             v-on:click="toVideoDetail(bn.movie_id)"
                             v-cloak>
                            <div class="banner-title-div">
                                <a id="title" :href="'films-detail.html?movie_id='+bn.movie_id">{{bn.title}}</a>
                                <span v-if="bn.producer != ''">[ {{bn.director}}导演& {{bn.producer}}监制 ]</span>
                                <span v-else>[ {{bn.director}}导演 ]</span>
                                <div class="banner-content">
                                    <p>{{bn.description}}</p>
                                    <a class="banner-more">更多</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</section>
<!--Slider END-->

<div class="hh-index-center">
    <!--hh video 影视作品-->
    <div class="hh-video" id="vue-page">

        <div class="video-top">
            <div class="video-line-left"></div>
            <div class="hh-video-title">{{$t('lang.films')}}</div>
            <div class="video-line-right"></div>
        </div>

        <div class="video-content">

            <div id="myCarousel" class="carousel slide  index-video">
                <!-- 轮播（Carousel）项目 -->
                <!-- 轮播（Carousel）导航 -->
                <a class="video-content-left" href="#myCarousel"
                   data-slide="prev">
                    <!--<div class="video-content-left">-->
                    <img class="arrow-left" src="../../static/hehe/images/arrow-left-hh.png">
                    <!--</div>-->
                </a>
                <div class="hh-video-content-slide">
                    <div class="carousel-inner ">
                        <div v-for="(film,index) in films_li" :class="index==0?'item active':'item'">
                            <div class="video-content-center" v-cloak>
                                <div v-for="movie in film.movie_li">
                                    <a :href="'../../static/hehe/films-detail.html?movie_id='+movie.movie_id" v-if="movie.movie_id">
                                        <!--<li class="hh-video-img-div">-->
                                        <div class="movie-item-img"
                                             :style="{'background-image' : 'url('+'http://staging.hehefilm.com'+movie.mcover+')'}">
                                            <!--<img id="jlp"  :src="'http://staging.hehefilm.com'+movie.mcover">-->
                                            <div class="video-item-shadow">
                                                <p class="video-item-title">{{movie.title}}</p>
                                            </div>
                                        </div>
                                        <!--</li>-->
                                    </a>
                                    <!--<div class="movie-item-img" v-if="movie.year">-->
                                        <!--<div class="film-item-shadow-year">-->
                                            <!--<p class="film-item-year">{{movie.year}}</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="video-content-right" href="#myCarousel"
                   data-slide="next">
                    <img class="arrow-right" src="../../static/hehe/images/arrow-right-hh.png">
                </a>

            </div>

        </div>

    </div>

    <!-- 合作伙伴-->
    <div class="hh-partners" id="vue-partners">
        <div class="video-top">
            <div class="video-line-left"></div>
            <div class="hh-video-title">{{$t('lang.cooperation')}}</div>
            <div class="video-line-right"></div>
        </div>
        <div class="partners-icon-div">

            <div id="myPartner" class="carousel slide  index-video">

                <a class="video-content-left" href="#myPartner"
                   data-slide="prev">
                    <img class="arrow-left" src="images/arrow-left-hh.png">
                </a>

                <div class="hh-video-content-slide">
                    <div class="carousel-inner">
                        <div v-for="(partners,index) in partner_li" :class="index==0?'item active':'item'">
                            <div class="friend-div">
                                <div v-for="partner of partners.friend_li">
                                    <div class="hh-partners-div">
                                        <div class="partners-img-div">
                                            <img class="partners-img-icon"
                                                 :src="'http://staging.hehefilm.com'+partner.rlogo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="video-content-right" href="#myPartner"
                   data-slide="next">
                    <img class="arrow-right" src="../../static/hehe/images/arrow-right-hh.png">
                </a>

            </div>


        </div>
    </div>
</div>

<!-- Footer -->
<div id="my-footer">
    <my-footer></my-footer>
</div>


<!--JS-->
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-i18n/7.3.2/vue-i18n.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../static/hehe/js/nav.js"></script>
<script type="text/javascript" src="../../static/hehe/js/banner.js"></script>

<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>

<script type="text/javascript" src="../../static/hehe/js/index.js"></script>
<script type="text/javascript">
    //    (function () {
    //        document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
    //        var bdcs = document.createElement('script');
    //        bdcs.type = 'text/javascript';
    //        bdcs.async = true;
    //        bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=7972134502849772219' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000);
    //        var s = document.getElementsByTagName('script')[0];
    //        s.parentNode.insertBefore(bdcs, s);
    //    })();
    $(function(){
        $('#myCarousel').carousel({
            wrap: false,
            interval:false
        });
        $('#myPartner').carousel({
            wrap: false,
            interval:false
        });
    });

</script>


</body>
</html>
