.con-body {
	width: 1280px;
	padding: 129px 187px 135px 187px;
	margin: 0 auto;
}

.con-title {
	color: #FFFFFF;	
	font-size: 18px;	
	font-weight: bold;
}

.con-each-div {
	margin: 61px 48px 0 48px;
	display: flex;
	flex-direction: column;
}

.con-each-div>div{
	display: flex;
}

.con-each-div>div>img {
	width: 18px;
	height: 18px;
	margin: auto 0;
}

.con-each-div>div>p {
	margin-left: 34px;
	color: #FFFFFF;	
	font-size: 2rem;
}

.con-each-div hr {
	width: 627px;
	margin: 0 0 0 34px;
    border-top: 1px dashed #363942;
    height: 1px;
}
