
.page {
    background-color: #1a1c21;
    width: 100%;
}

.hh-film {
    max-width: 1280px;
    width: 100%;
    margin: 158px auto 70px auto;
}

.film-content {
    /*margin-top: 3.385%;*/
    width: 1280px;
    flex-direction: row;
    display: flex;
    margin: 54px auto 29px auto;
    /*background-color: #8a6d3b;*/
}

.film-content-center {
    display: flex;
    flex-wrap: wrap;
    /*margin: auto 9.1vw;*/

}

.hh-film-img-div {
    padding: 0px;
    display: flex;
}

.film-more {
    width: 597px;
    height: 59px;
    margin: 0 auto 29px auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.03);
    color: #999999;
    font-size: 16rem;
    align-items: center;
    transition: all 0.3s;
}

.film-more:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
}

.film-more-text:hover {
    color: #fff;
}

.film-more-text {
    font-size: 16px;
    line-height: 0;
    margin: auto;
}

.film-item-img {
    overflow: hidden;
    width: 320px;
    height: 216px;

    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.film-item-shadow {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.3s;
    display: flex;
}

.film-item-shadow:hover {
    opacity: 0;
}

.film-item-title {
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    font-size: 16px;
    /*font-weight: bold;*/
}

.film-item-year {
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    font-weight: bold;
    color: #999999;
    font-family: FZLanTingHei-B-GBK;
    font-size: 90px;
    /*line-height: 320px;*/
}

.film-item-shadow-year {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.3s;
    display: flex;
}
.film-item-shadow-more {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.3s;
    display: flex;
    cursor:pointer;
}
.film-item-more{
    margin: auto;
}
.film-item-shadow-more:hover {
    opacity:1;
    background-color: rgba(0, 0, 0, 1);
}

/*.film-item-shadow-year:hover {*/
/*opacity: 0;*/
/*}*/

