.page-bak {
	position: fixed;
	left: 0;
    top: 0;
    right: 0;
    z-index: -1;
	height: 368px;
}
.page-bak img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.page-bak div {
	position: absolute;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
}
.page {
	background-color: #1a1c21;
	width: 100%;
}
.page-container {
	width: 1280px;
	margin: 0 auto;
}
.film-info {
	padding: 0 39px 0 63px;
	margin-top: 368px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/*align-items: flex-end;*/
}
.film-info-left {
	margin-top: -143px;
	width: 312px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.film-info-left > p {
	color: #FFFFFF;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 17px;
	white-space: nowrap;
	font-weight: bold;
}
.left-align {
	align-self: left;
}
.film-info-left > img {
	width: 312px;
	border: 1px solid rgba(0,0,0,0.49);
	box-shadow: 0 8px 24px 1px rgba(0,0,0,0.57);
	/*object-fit: contain;*/
}
.film-info-left > a {
	border: 1px solid #FFFFFF;
	margin-top: 29px;
	transition-duration: 0.25s;
}
.film-info-left a:link { 
    color: #CCCCCC;
    text-decoration: none;
}
.film-info-left a:visited { 
    color: #CCCCCC;
    text-decoration: none;
}
.film-info-left a:hover {
    color: black;
    text-decoration: none;
    background-color: #fecb2f;
    border-color: #fecb2f;
    transition-duration: 0.25s;
}
.film-info-left > a > p {
	font-size: 12px;
	line-height: 12px;
	margin: 5px 7px;
}

.film-info-right {
	width: 790px;
	color: white;
	margin-top: 50px;
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 43px;
}
.film-info-right > table td:first-child {
	white-space: nowrap;
	vertical-align: top;
	text-align:justify;
	text-justify:distribute-all-lines;
	text-align-last:justify
}

.film-info-right > table td:nth-child(2) {
	width: 20px;
	vertical-align: top;
}

.film-videos {
	padding: 58px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.film-section-head {
	width: 217px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.film-section-head hr {
	height: 1px;
	flex-grow: 1;
    border: 0;
    border-top: 1px solid white;
}
.film-section-head > p {
	margin: 0 25px;
	font-size: 14px;
	line-height: 100%;
	font-weight: bold;
	color: white;
}
.film-videos-preview-title {
	color: rgba(255,255,255,1);
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 11px;
	text-align: left;
	align-self: left;
}
.film-videos-preview {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#moviePreview {
	width: 935px;
	height: 526px;
	overflow: hidden;
}
#moviePreview > .carousel-inner {
	width: 935px;
	height: 526px;
}
#moviePreview > .carousel-inner > .item {
	width: 935px;
	height: 526px;
}
#moviePreview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#moviePreview > .left, #moviePreview > .right {
	background-image: none !important; 
	background-color: transparent !important;
	transition-duration: 0.25s;
}
#moviePreview > .left:hover, #moviePreview > .right:hover {
	background-color: rgba(0,0,0,0.51) !important;
	transition-duration: 0.25s;
}
.disable {
	opacity: 0.5 !important;
	cursor: default;
}
#moviePreview > .carousel-control img {
	width: 19px;
	height: auto;
}
#moviePreview > .carousel-control {
	margin: auto 0;
	width: 67px !important;
	height: 100%;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#moviePreview .play-icon {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 63px;
    width: 63px;
}
#movieThumbnail {
	width: 280px;
	height: 526px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
#movieThumbnail > .carousel-inner {
	height: 485px;
}
#movieThumbnail > .carousel-inner > .item {
	height: 485px;
}
#movieThumbnail .item-thumbnail {
	width: 267px;
	height: 150px;
	box-sizing: border-box;
	margin-bottom: 17px;
	position: relative;
	border: 2px solid transparent;
	float: right;
	cursor: pointer;
}
#movieThumbnail .selected {
	border: 2px solid white;
}
#movieThumbnail .selected:before {
    content: "";
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 65px;
}

#movieThumbnail .item-thumbnail .title {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 4px 7px;
	background-color:rgba(26,28,33,0.5);
	font-size: 12px;
	color:white;
}
#movieThumbnail .item-thumbnail img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}
#movieThumbnail > .arrow {
	display: flex;
	justify-content: space-between;
	width: 55px;
	height: 18px;
	margin-left: 15px;
}
#movieThumbnail a img {
	height: 18px;
}


.fancybox-navigation button:before {
    background: transparent !important;
}

.film-posters {
	margin: 89px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.film-posters-carousel{
	height: 387px;
	display: flex;
}
.film-posters-slides {
	width: 1124px;
	height: 100%;
}
.film-poster {
	margin-right: 32px;
}
.film-poster img {
	height: 387px;
}
.film-posters-arrow-left, .film-posters-arrow-right {
	width: 78px;
	height: 100%;
	display: flex;
    align-items: center;
}
.film-posters-arrow-left:hover, .film-posters-arrow-right:hover {
	background-color: rgba(0,0,0,0.2);
	transition-duration: 0.2s;
	cursor: pointer;
}

.film-posters-arrow-left img {
	width: 18px;
	height: 37px;
	margin: auto;
}

.film-posters-arrow-right img {
	width: 18px;
	height: 37px;
	margin: auto;
}

.fancybox-navigation button {
	height: 600px !important;
	margin: -300px 0 0 !important;
}
.fancybox-navigation button:hover {
	background-color: rgba(0,0,0,0.51);
	transition-duration: 0.25s;
}