body {
	background-color: #1A1C21;
}

a {
	cursor:pointer;
}

.news-head-div {
	width: 245px;
	height: 17px;
	text-align: center;
	display: flex;
	margin: 150px auto 0 auto;
}

.news-head-div hr{
	width: 30%;
	height: 1px;
	margin: auto 0;
	background-color: white;
	border: 0px solid transparent;
}

.news-head-div p {
	width: 40%;
	color: #FFFFFF;
	font-size: 1.7rem;
	line-height: 100%;
	font-weight: bold;
	background-color: #1A1C21;
}

.news-body {
	display: flex;
	width: 1280px;
	margin: 62px auto 0 auto;
	
}

.news-body-left {
	margin:0 196px 0 0;
	width: 765px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.news-body-right {
	margin:0 0 0 0;
	width: 318px;
	height: 100%;
	background-color: rgba(255,255,255,0.03);
	border-left: 1px dashed rgba(255,255,255,0.5);
}

.news-body-right div {
	margin: 22px 38px 0 38px;
	display: flex;
}

.each-cell {
	display: flex;
	margin-bottom: 61px;
	height: 117px;
}

.each-cell>a {
	width: 176px;
	height: 117px;
}

.each-cell>a:hover {
    border: 1px solid rgba(255,255,255,0.5);
}

.show {
	width: 100%;
	height: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.each-cell-right {
	margin: 0 0 0 35px;
	width: 553px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.each-cell-right a {
	color: #FFFFFF;	
	font-size: 14px;	
	line-height: 14px;
	font-weight: bold;
}

.each-cell-right a:hover {
	color: #FFCC00;;
}

.each-cell-time {
	color: #CCCCCC;	
	font-size: 10px;	
	line-height: 10px;
	margin: 11px 0 18px 0;
}

.each-cell-content {
	color: #FFFFFF;	
	font-size: 12px;	
	line-height: 24px;
	margin-bottom: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.right-img {
	width: 83.4%;
    margin: 12.5% 8.3% 0 8.3%;
}

.news-body-right-p {
	width:62px;
	color: #FFFFFF;	
	font-size: 12px;	
	line-height: 16px;
	text-align:justify;
	text-justify:distribute-all-lines;
	text-align-last:justify;
	flex-shrink: 0;
}

.news-body-right-dot {
	color: #FFFFFF;	
	font-size: 12px;	
	line-height: 16px;
}

.news-body-right-span {
	color: #FFFFFF;	
	font-size: 12px;	
	line-height: 16px;
	margin-left: 17px;
	text-align: left;
}

.pagination {
	margin: 106px auto 132px auto;
	height: 27px;
}

.pagination > li > a {
	background-color: transparent;
	color: white;
	border: 1px solid transparent;
}

.pagination > li > a:hover {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.pagination > li:first-child > a:hover,.pagination > li:last-child > a:hover {
	border: 1px solid transparent;
	background-color: rgba(255,255,255,0.05);
	border-radius: 0;
	
}
