body {
	background-color: #1A1C21;
}

.news {
	width: 100%;
	margin-top: 7.4%;
	margin-bottom: 7.9%;
	display: flex;
}

.news-container {
	color: white;
	width: 800px;
	margin: 0 auto;
}

.show p {
	line-height: 2.4rem;
}

.show img {
	width: 100%;
	height: 100%;
}

strong span {
	font-weight: bolder;
}

.news-title {
	text-align: center;
	color: white;
	font-size: 30px;
	line-height: 30px;
}

.news-time {
	text-align: center;
	color: #ccc;
	font-size: 16px;
	line-height: 16px;
	margin: 20px 0 30px 0;
}

