@font-face {
    font-family: 'fzhtjw';
    src: url('../fonts/fzhtjw.woff2') format('woff2'),
         url('../fonts/fzhtjw.woff') format('woff'),
         url('../fonts/fzhtjw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center, h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	list-style:none;
	font-family: "Helvetica Neue", Helvetica, Arial, "fzhtjw", "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
	font-weight: 300;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	height: 100%;
	background-color: #1A1C21;
}

body #my-nav {
	height: 8vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a { color: #9e1f24;cursor:pointer}
a:hover,a:focus { color: rgb(102,187,245); text-decoration:none;}

/*html {
	font-size: 62.5%;
	line-height: 62.5%;
}*/



html {
    font-size: 5px;
    line-height: 5px;
    height: 100%;
}

@media (min-width: 321px) and (max-width: 1920px) {
    html {
        font-size: calc(5px + 5 * ((100vw - 320px) / 1600));
        line-height: calc(5px + 5 * ((100vw - 320px) / 1600));
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 10px;
        line-height: 10px;
    }
}