<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN" class="no-js" id="hp"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta name="author" content="wangyali"/>
    <!--<meta name="keywords" content="和和影业">  关键词，搜索什么能看到 已经不用这种方式了-->
    <meta name="description" content="​​和和影业成立于2013年。出品发行《美人鱼》、《西游伏妖篇》、《追凶者也》、《黑处有什么》、《暴雪将至》等电影。2016年《美人鱼》打破华语电影史多个纪录。2017年《西游伏妖篇》再次刷新记录。"/> <!-- 内容描述 -->
    <meta name="theme-color" content="#861519">
    <meta name="msapplication-navbutton-color" content="#861519">
    <meta name="apple-mobile-web-app-status-bar-style" content="#861519">
    
    <meta name="robots" content="index,follow" /> <!-- 搜索优化，下同 -->
	<meta name="google" content="index,follow" />
	<meta name="googlebot" content="index,follow" />
	<meta name="verify" content="index,follow" />



    <title>和和影业</title>

    <!--CSS-->    
    <link rel="stylesheet" href="../../static/hehe/css/reset.css"/>
    <link rel="stylesheet" href="../../static/hehe/css/style.css"/>
    <!-- <link rel="stylesheet" href="../../static/hehe/css/landing.css"/> -->
    <link rel="shortcut icon" href="../../static/hehe/images/icon.png"/>
</head>
<body class="index-bg">

<div id="my-nav">
    <my-nav></my-nav>
</div>

<style type="text/css">
.langSelect {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.langSelect:hover {
    color: #ffcc00;
}
</style>
<div style="height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: space-around;">
    <div style="width: 181px;">
        <img src="../../static/hehe/images/new-bak.png" style="width: 100%; margin-bottom: 24px;">
        <div style="display: flex; color: white; text-align: center; font-size: 12px; line-height: 16px;">
            <span style="width: 50%; border-right: 1px solid white;">
                <a class="langSelect" onclick="siteLang('cn')">简体中文</a>
            </span>
            <span style="width: 50%;">
                <a class="langSelect" onclick="siteLang('en')">English</a>
            </span>
        </div>
    </div>

</div>

<!--JS-->
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-i18n/7.3.2/vue-i18n.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="../../static/hehe/js/nav.js"></script>

<script>

function siteLang(lang) {
    document.cookie = "lang=" + lang;
    window.location = "../../static/hehe/index.html";
}

</script>


</body>
</html>
