<!DOCTYPE html>
<html class="fixed-layout js cssanimations">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}</title>
  {% block keywords %}
  <meta name="keywords" content="gallery">
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link href="/static/bb/images/hh-mini.jpg" rel="SHORTCUT ICON"></link>
  <link rel="stylesheet" href="/static/common/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/common/assets/css/admin.css">
  {% block specscript %}
  {% endblock %}
</head>
<body>
	<header class="am-topbar am-topbar-inverse admin-header">
		<div class="am-topbar-brand">
			<strong>和和影业</strong> <small>管理后台</small>
		</div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"></button>
		<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="#">
            <span class="am-icon-users"></span> 管理员
            <span class="am-icon-caret-down"></span>
            <ul class="am-dropdown-content">
              <li>
                <a href="{{ url_for(".logout") }}">
                  <span class="am-icon-power-off"></span> 退出
                </a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
	</header>
	<div class="am-cf admin-main">
		<!-- sidebar start -->
  		<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    		<div class="am-offcanvas-bar admin-offcanvas-bar">
      			<ul class="am-list admin-sidebar-list">
              <li><a target="view-window" href="http://www.hehefilm.com">
                <span class="am-icon-home" style="color: blue;"></span> 进入官网</a>
              </li>
        			<li><a href="{{ url_for(".home") }}"><span class="am-icon-home"></span> 首页</a></li>
              
              <!--<li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-banner'}">
                  <span class="am-icon-bars"></span> banner管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-banner">
                  <li>
                    <a href="{{ url_for(".banners") }}">
                      <span class="am-icon-bars"></span> 当前banner
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".banner_create") }}">
                      <span class="am-icon-bars"></span> 添加banner
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                </ul>
              </li>-->

              <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-news'}">
                  <span class="am-icon-newspaper-o"></span> 新闻管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-news">
                  <li>
                    <a href="{{ url_for(".news") }}">
                      <span class="am-icon-newspaper-o"></span> 当前新闻
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".news_create") }}">
                      <span class="am-icon-newspaper-o"></span> 添加新闻
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-movie'}">
                  <span class="am-icon-video-camera"></span> 影视管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-movie">
                  <li>
                    <a href="{{ url_for(".movies", lang='zh') }}">
                      <span class="am-icon-video-camera"></span> 中版作品
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".movies", lang='en') }}">
                      <span class="am-icon-video-camera"></span> 英版作品
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".movie_create") }}">
                      <span class="am-icon-video-camera"></span> 添加作品
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".movie_recommend") }}">
                      <span class="am-icon-video-camera"></span> 已推荐
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".banners") }}">
                      <span class="am-icon-video-camera"></span> 当前banner
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-project'}">
                  <span class="am-icon-book"></span> 项目管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-project">
                  <li>
                    <a href="{{ url_for(".projects") }}">
                      <span class="am-icon-book"></span> 当前项目
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".project_create") }}">
                      <span class="am-icon-book"></span> 添加项目
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-aboutme'}">
                  <span class="am-icon-info"></span> 关于我们 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-aboutme">
                  <li>
                    <a href="{{ url_for(".about_me", lang='zh') }}">
                      <span class="am-icon-info"></span> 中文版本
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".about_me", lang='en') }}">
                      <span class="am-icon-info"></span> 英文版本
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-webroll'}">
                  <span class="am-icon-male"></span> 合作伙伴 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-webroll">
                  <li>
                    <a href="{{ url_for(".webrolls") }}">
                      <span class="am-icon-male"></span> 当前伙伴
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for(".webroll_create") }}">
                      <span class="am-icon-male"></span> 添加伙伴
                      <span class="am-badge am-badge-secondary am-margin-right am-fr"></span>
                    </a>
                  </li>
                </ul>
              </li>

      			</ul>
    		</div>
  		</div>
  		<!-- sidebar end -->
	  {% block content %}{% endblock %}
	</div>
	<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
	<footer>
		<hr>
		<p class="am-padding-left">© 和和影业</p>
	</footer>
	<script type="text/javascript" src="/static/common/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/common/assets/js/amazeui.min.js"></script>
  <script type="text/javascript" src="/static/bb/js/app_v11.js"></script>
  <!--<script type="text/javascript" src="https://cdn.staticfile.org/plupload/2.1.9/plupload.full.min.js"></script>
  <script type="text/javascript" src="/static/bb/js/qiniu.min.js"></script>
  <script type="text/javascript" src="/static/bb/js/main.js"></script>-->
  {% block bodyscript %}{% endblock %}
</body>
</html>
