{% extends "hh_header.html" %}

{% block title %}影视{% endblock title %}

{% block keywords %}
<meta name="keywords" content="movie">
{% endblock keywords %}

{% block content %}
<div class="admin-content">
	<div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
        	<strong class="am-text-primary am-text-lg">影视列表</strong> / <small>Movies</small>
        </div>
      </div>

      <hr>

      <div class="am-g">
     	<div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              	<tr>
                  <!--<th class="table-check">
                	<input type="checkbox" />
               	  </th>-->
                  <th class="table-id">ID</th>
                  <th class="table-title">影视标题</th>
                  <th class="table-type">类别</th>
                  <th class="table-author am-hide-sm-only">创建者</th>
                  <th class="table-date am-hide-sm-only">修改日期</th>
                  <th class="table-set">操作</th>
                </tr>
              </thead>
              <tbody>
              {% for m in movies %}
              <tr>
                <!--<td><input type="checkbox" /></td>-->
                <td>{{ m['res_id'] }}</td>
                <td><a href="/static/hehe/films-detail.html?movie_id={{ m['res_id'] }}" target="view_window">{{ m['title'] }}</a></td>
                <td>{{ m['res_tp'] }}</td>
                <td class="am-hide-sm-only">{{ m['bb'] }}</td>
                <td class="am-hide-sm-only">{{ m['created'][:10] }}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      {% if m['online'] == 'off' %}
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only movie-op" act="on" mid="{{ m['res_id'] }}" hint="确定将该作品上线吗？" style="color: green">
                         上线
                      </button>
                      {% else %}
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only movie-op" act="off" mid="{{ m['res_id'] }}" hint="下线后将不在官网展示，确定吗？" style="color: red">
                      	 下线
                      </button>
                      {% endif %}
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only movie-op" act="fst" mid="{{ m['res_id'] }}" hint="确定将该作品置顶吗？">
                      	 置顶
                      </button>
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only movie-op" act="rcmd-on" mid="{{ m['res_id'] }}" hint="确定推荐该作品吗？">
                      	 推荐
                      </button>
                      <a id="movie-edit" href="/hehebb/movie_edit/{{ m['res_id'] }}">
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" mid="{{ m['res_id'] }}" hint="确定要编辑吗？">
                      	   编辑
                        </button>
                  	  </a>
                      <button id="movie-banner" type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only movie-op" act="banner-on" mid="{{ m['res_id'] }}" hint="确定要添加到Banner吗？">
                      	 BANNER
                      </button>
                      <button id="movie-del" type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only movie-op" act="del" mid="{{ m['res_id'] }}" hint="删除后不可恢复，确定要继续吗？">
                      	 删除
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="am-cf">
			共 {{ movie_total }} 个资源
				<div class="am-fr">
					<ul class="am-pagination">
					{% if pg == 1 %}
					<li><a href="{{ url_for(".movies", pg=1, tp=tp) }}">刷新</a></li>
					{% elif pg > 1 %}
					<li><a href="{{ url_for(".movies", pg=1, tp=tp) }}">&laquo;</a></li>
					<li><a href="{{ url_for(".movies", pg=pg-1, tp=tp) }}">上一页</a></li>
					{% endif %}
					<li><a href="#">第{{ pg }}/{{ total_pg }}页</a></li>
					{% if pg < total_pg %}
					<li><a href="{{ url_for(".movies", pg=pg+1, tp=tp) }}">下一页</a></li>
					<li><a href="{{ url_for(".movies", pg=total_pg, tp=tp) }}">&raquo;</a></li>
					{% endif %}
					</ul>
				</div>
			</div>
            <hr />
          </form>
        </div>

      </div>
    </div>
</div>
{% endblock content%}
