{% extends "hh_header.html" %}

{% block title %}和和新闻{% endblock title %}

{% block keywords %}
<meta name="keywords" content="news">
{% endblock keywords %}

{% block content %}
<div class="admin-content">
	<div class="am-panel am-panel-default">
		<div class="am-panel-bd am-cf am-in" id="">
			<ul class="am-comments-list admin-content-comment">
				{% for n in news %}
				<li class="am-comment">
					<a href="#">
						<img src="/static/bb/images/hh-mini.jpg" alt class="am-comment-avatar" width="48" height="48">
					</a>
					<div class="am-comment-main">
						<header class="am-comment-hd">
							<div class="am-comment-meta">
								<a href="#" class="am-comment-author">{{ n['bb'] }}</a>
								<span>上传于 {{ n['created'] }}</span>
							</div>
						</header>
						<div class="am-comment-bd">
							<p><strong>ID：</strong>{{ n['res_id'] }}</p>
							<p><strong>日期：</strong>{{ n['ndate'] }}</p>
							<p><strong>标题：</strong>{{ n['ntitle'] }}</p>
							<p><strong>副标题：</strong>{{ n['nsubtitle'] }}</p>
							<p><strong>封面：</strong></p>
							{% if n['ncover'] %}
							<ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
								<li>
									<a href="{{ n['ncover'] }}" target="view_window">
										<img class="am-img-thumbnail am-img-bdrs" src="{{ n['ncover'] }}"></img>
									</a>
								</li>
							</ul>
							{% endif %}
							<p><strong>详情：</strong></p>
							<div>
								<iframe srcdoc="{{ n['ndetail'] }}" width="900px"></iframe>
							</div>
						</div>
						{% if n['online'] == 'on' %}
						<div class="am-cf">
							<div class="am-fr">
								<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger news-op" act="off" nid="{{ n['res_id'] }}" hint="下线后将不在官网展示，确定吗？" style="color: red">
									下线
								</button>
								<button type="button" class="am-btn am-btn-default am-btn-xs news-op" act="fst" nid="{{ n['res_id'] }}" hint="确定将该新闻置顶吗？">
									置顶
								</button>
								<button type="button" class="am-btn am-btn-default am-btn-xs news-op am-text-danger" act="del" nid="{{ n['res_id'] }}" hint="删除后不可恢复，确定要继续吗？">
									删除
								</button>
							</div>
						</div>
						{% else %}
						<div class="am-cf">
							<div class="am-fr">
								<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger news-op" act="on" nid="{{ n['res_id'] }}" hint="确定将该内容上线吗？" style="color: green">
									上线
								</button>
								<button type="button" class="am-btn am-btn-default am-btn-xs news-op" act="fst" nid="{{ n['res_id'] }}" hint="确定将该新闻置顶吗？">
									置顶
								</button>
								<a href="/hehebb/news_edit/{{ n['res_id'] }}">
									<button type="button" class="am-btn am-btn-default am-btn-xs" nid="{{ n['res_id'] }}" hint="确定要编辑吗？">
									编辑
									</button>
							    </a>
								<button type="button" class="am-btn am-btn-default am-btn-xs news-op am-text-danger" act="del" nid="{{ n['res_id'] }}" hint="删除后不可恢复，确定要继续吗？">
									删除
								</button>
							</div>
						</div>
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="am-cf">
		共 {{ news_total }} 个新闻
		<div class="am-fr">
			<ul class="am-pagination">
				{% if pg == 1 %}
				<li><a href="{{ url_for(".news", pg=1) }}">刷新</a></li>
				{% elif pg > 1 %}
				<li><a href="{{ url_for(".news", pg=1) }}">&laquo;</a></li>
				<li><a href="{{ url_for(".news", pg=pg-1) }}">上一页</a></li>
				{% endif %}
				<li><a href="#">第{{ pg }}/{{ total_pg }}页</a></li>
				{% if pg < total_pg %}
				<li><a href="{{ url_for(".news", pg=pg+1) }}">下一页</a></li>
				<li><a href="{{ url_for(".news", pg=total_pg) }}">&raquo;</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock content%}
