{% extends "hh_header.html" %}

{% block title %}添加影视{% endblock title %}

{% block keywords %}
<meta name="keywords" content="movie">
{% endblock keywords %}

{% block specscript %}
<link rel="stylesheet" type="text/css" href="/static/bb/uploader/webuploader.css"></link>
{% endblock specscript %}

{% block content %}
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">影视管理</strong> /
        <small>添加</small>
      </div>
    </div>

    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">影视</a></li>
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <form id="movie" class="am-form">
            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 作品</div>
              <div class="am-u-sm-8 am-u-md-10 am-form-group">
                <select id="res-tp" form="movie" name="type" data-am-selected="{btnSize: 'sm'}" onchange="opChange()">
                  <option id="movie" value="movie" selected="selected">电影</option>
                  <option id="teleplay" value="teleplay">电视剧</option>
                </select>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                片名
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="title" form="movie" rows="2" cols="25" name="title" maxlength="50" placeholder="如：电影标题，美人鱼。" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                导演
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="director" form="movie" rows="2" cols="25" name="director" maxlength="100" placeholder="多个导演请使用下划线‘_’隔开，如：张导演_李导演_Mark。" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                编剧
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="writer" form="movie" rows="2" cols="25" name="writer" maxlength="100" placeholder="多个编剧请使用下划线‘_’隔开，如：张编剧_李编剧_John Connor。" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                主演
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="stars" form="movie" rows="2" cols="25" name="stars" maxlength="200" placeholder="多个演员请使用下划线‘_’隔开，如：张演员_李演员_Lucy。" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 上映日期</div>
              <div class="am-u-sm-6" style="float: left">
                <div class="am-form-group am-form-icon">
                  <i class="am-icon-calendar"></i>
                  <input name="release_date" form="movie" type="date" class="am-form-field am-input-sm" required="required"></input>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                类型
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="genre" form="movie" rows="2" cols="25" name="genra" maxlength="50" placeholder="多种类型请使用下划线‘_’隔开，如：爱情_武侠_喜剧。" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 片长</div>
              <div class="am-u-sm-6" style="float: left">
                <div class="am-form-group am-form-icon">
                  <input name="duration" form="movie" type="number" class="am-form-field am-input-sm" required="required" placeholder="单位：分。" min="1" max="1000"></input>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top">
          	  <div class="am-u-sm-4 am-u-md-2 am-text-right"> 封面海报</div>
          	  <div id="uploader" class="wu-example am-u-sm-7" style="float: left" tp="movie-cover-pic">
                <div id="thelist" class="uploader-list"></div>
                <div class="btns" id="poster-picker">
                  <div id="filePicker">选择图片</div>
                </div>
              </div>
              <input id="movie-cover-pic" type="text" name="poster" value="" style="display: none;"></input>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                简介
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="description" form="movie" rows="10" cols="50" name="description" maxlength="1000" placeholder="电影简介。（最多1000字）" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 剧照</div>
              <div id="uploader_2" class="wu-example am-u-sm-7" style="float: left" tp="movie-clip-pic">
                <div id="thelist_2" class="uploader-list"></div>
                <div class="btns" id="clip-picker">
                  <div id="filePicker_2">选择图片</div>
                </div>
              </div>
              <input id="movie-clip-pic" form="movie" type="text" name="clips" value="" style="display: none;"></input>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                宣传片
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="videos" form="movie" rows="10" cols="50" name="videos" maxlength="1000" placeholder="宣传片播放地址。" required="required"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                衍生品
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="store" form="movie" rows="2" cols="500" name="store" maxlength="1000" placeholder="请填写衍生品商店地址。"></textarea>
              </div>
            </div>

      	  </form>
        </div>
      </div>
    </div>

    <div class="am-margin">
      <button form="movie" type="submit" formaction="{{ url_for(".movies") }}" formmethod="post" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 和和影业</p>
  </footer>
</div>

<script type="text/javascript" src="/static/bb/js/upload_rm.js"></script>
{% endblock content %}

{% block bodyscript %}
<script type="text/javascript" src="/static/bb/uploader/webuploader.js"></script>
<script type="text/javascript" src="/static/bb/js/uploader.js"></script>
{% endblock bodyscript%}
