{% extends "hh_header.html" %}

{% block title %}编辑影视{% endblock title %}

{% block keywords %}
<meta name="keywords" content="movie">
{% endblock keywords %}

{% block specscript %}
<link rel="stylesheet" type="text/css" href="/static/bb/uploader/webuploader.css"></link>
{% endblock specscript %}

{% block content %}
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">影视管理</strong> /
        <small>编辑</small>
      </div>
    </div>

    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">影视</a></li>
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <form id="movie" class="am-form">
            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 作品</div>
              <div class="am-u-sm-8 am-u-md-10 am-form-group">
                <select id="res-tp" form="movie" name="type" data-am-selected="{btnSize: 'sm'}" onchange="opChange()">
                  {% if movie['type'] == 'movie' %}
                  <option id="movies" value="movie" selected="selected">电影</option>
                  <option id="teleplay" value="teleplay">电视剧</option>
                  {% else %}
                  <option id="movies" value="movie">电影</option>
                  <option id="teleplay" value="teleplay" selected="selected">电视剧</option>
                  {% endif %}
                </select>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                片名
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="title" form="movie" rows="2" cols="25" name="title" maxlength="50" placeholder="如：电影标题，美人鱼。" required="required">{{ movie['title'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                导演
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="director" form="movie" rows="2" cols="25" name="director" maxlength="100" placeholder="多个导演请使用下划线‘_’隔开，如：张导演_李导演_Mark。" required="required">{{ movie['director'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                编剧
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="writer" form="movie" rows="2" cols="25" name="writer" maxlength="100" placeholder="多个编剧请使用下划线‘_’隔开，如：张编剧_李编剧_John Connor。" required="required">{{ movie['writer'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                监制
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="producer" form="movie" rows="2" cols="25" name="producer" maxlength="100" placeholder="多个监制请使用下划线‘_’隔开，如：张监制_李监制_Connor。" required="required">{{ movie['producer'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                主演
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="stars" form="movie" rows="2" cols="25" name="stars" maxlength="200" placeholder="多个演员请使用下划线‘_’隔开，如：张演员_李演员_Lucy。" required="required">{{ movie['stars'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 上映日期</div>
              <div class="am-u-sm-6" style="float: left">
                <div class="am-form-group am-form-icon">
                  <i class="am-icon-calendar"></i>
                  <input name="release_date" form="movie" type="date" class="am-form-field am-input-sm" required="required" value="{{ movie['release_date'] }}"></input>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                类型
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="genre" form="movie" rows="2" cols="25" name="genre" maxlength="50" placeholder="多种类型请使用下划线‘_’隔开，如：爱情_武侠_喜剧。" required="required">{{ movie['genre'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 片长</div>
              <div class="am-u-sm-6" style="float: left">
                <div class="am-form-group am-form-icon">
                  <input name="duration" form="movie" type="number" class="am-form-field am-input-sm" required="required" placeholder="单位：分。" min="1" max="1000" value="{{ movie['duration'] }}"></input>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                语言
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="lang" form="movie" rows="2" cols="25" name="lang" maxlength="50" placeholder="多种语言请使用下划线‘_’隔开，如：英语_中文字幕。（可选项）">{{ movie['lang'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                制作国家
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="country" form="movie" rows="2" cols="25" name="country" maxlength="50" placeholder="多个国家（城市）请使用下划线‘_’隔开，如：上海_NewYork。（可选项）">{{ movie['country'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                别称
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="mknown" form="movie" rows="2" cols="25" name="mknown" maxlength="50" placeholder="多个名称请使用下划线‘_’隔开，如：名称一_名称二。（可选项）">{{ movie['mknown'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                荧幕类型
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="release_vision" form="movie" rows="2" cols="25" name="release_vision" maxlength="50" placeholder="多种类型请使用下划线‘_’隔开，如：3D_中国巨幕。（可选项）">{{ movie['release_vision'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
          	  <div class="am-u-sm-4 am-u-md-2 am-text-right"> 背景图</div>
          	  <div id="uploader" class="wu-example am-u-sm-7" style="float: left" tp="movie-cover-pic">
                <div id="thelist" class="uploader-list"></div>
                <div class="btns" id="mcover-picker">
                  <div id="filePicker">选择背景</div>
                </div>
              </div>
              <input id="movie-cover-pic" form="movie" type="text" name="mcover" value="{{ movie['mcover'] }}" style="display: none;"></input>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                简介
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="description" form="movie" rows="10" cols="50" name="description" maxlength="1000" placeholder="电影简介。（最多1000字）" required="required">{{ movie['description'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 海报</div>
              <div id="uploader_3" class="wu-example am-u-sm-7" style="float: left" tp="movie-poster-pic">
                <div id="thelist_3" class="uploader-list">
                  {% for p in movie['posters'] %}
                  <div hint="删除不可恢复，确定删除吗？" class="file-item thumbnail" onclick="rmMovieEditPosterPic(this)" pkey="{{ p }}">
                    <img src="{{ p }}" width="100" height="100"></img>
                    <div class="info">点击可删除</div>
                    <input form="movie" type="text" style="display: none;" name="posters[]" value="{{ p }}"></input>
                  </div>
                  {% endfor %}
                </div>
                <div class="btns" id="posters-picker">
                  <div id="filePicker_3">选择海报</div>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 剧照</div>
              <div id="uploader_2" class="wu-example am-u-sm-7" style="float: left" tp="movie-clip-pic">
                <div id="thelist_2" class="uploader-list">
                  {% for c in movie['clips'] %}
                  <div hint="删除不可恢复，确定删除吗？" class="file-item thumbnail" onclick="rmMovieEditClipPic(this)" pkey="{{ c }}">
                    <img src="{{ c }}" width="100" height="100"></img>
                    <div class="info">点击可删除</div>
                    <input form="movie" type="text" style="display: none;" name="clips[]" value="{{ c }}"></input>
                  </div>
                  {% endfor %}
                </div>
                <div class="btns" id="clip-picker">
                  <div id="filePicker_2">选择剧照</div>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 宣传片</div>
              <div id="uploader_4" class="wu-example am-u-sm-7" style="float: left" tp="movie-video-cover">
                <div id="thelist_4" class="uploader-list">
                  {% for v in movie['videos'] %}
                  <div id="mvc-{{ loop.index }}" hint="删除不可恢复，确定删除吗？" class="file-item thumbnail" onclick="rmMovieEditVideoCover(this)" pkey="{{ v['vcover'] }}">
                    <img src="{{ v['vcover'] }}" width="100" height="100"></img>
                    <div class="info">点击可删除</div>
                    <input form="movie" type="text" style="display: none;" name="vdo_covers[]" value="{{ v['vcover'] }}"></input>
                  </div>
                  <div id="mvc-{{ loop.index }}-link" style="margin-bottom: 5px;">
                    <input form="movie" name="vdo_titles[]" value="{{ v['vtitle'] }}"></input>
                    <textarea form="movie" name="vdo_links[]" rows="1" cols="25">{{ v['vlink'] }}</textarea>
                  </div>
                  {% endfor %}
                </div>
                <div class="btns" id="clip-picker">
                  <div id="filePicker_4">选择封面</div>
                </div>
              </div>
            </div>

            <!--<div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                宣传片
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="videos" form="movie" rows="10" cols="50" name="videos" maxlength="1000" placeholder="宣传片播放地址，多个时请使用 [半角] 分号‘;’隔开。" required="required">{{ movie['videos'] }}</textarea>
              </div>
            </div>-->

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                衍生品
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="store" form="movie" rows="2" cols="500" name="store" maxlength="1000" placeholder="请填写衍生品商店地址。">{{ movie['store'] }}</textarea>
              </div>
            </div>

      	  </form>
        </div>
      </div>
    </div>

    <div class="am-margin">
      <button form="movie" type="submit" formaction="/hehebb/movie_edit/{{ movie['res_id'] }}" formmethod="post" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 和和影业</p>
  </footer>
</div>

<script type="text/javascript" src="/static/bb/js/upload_rm.js"></script>
{% endblock content %}

{% block bodyscript %}
<script type="text/javascript" src="/static/bb/uploader/webuploader.js"></script>
<script type="text/javascript" src="/static/bb/js/uploader.js"></script>
{% endblock bodyscript%}
