{% extends "hh_header.html" %}

{% block title %}和和项目{% endblock title %}

{% block keywords %}
<meta name="keywords" content="project">
{% endblock keywords %}

{% block specscript %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/static/bb/uploader/webuploader.css"></link>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
{% endblock specscript %}

{% block content %}
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">项目管理</strong> /
        <small>编辑</small>
      </div>
    </div>

    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">和和项目</a></li>
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">

          <form id="project" class="am-form">

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 项目日期</div>
              <div class="am-u-sm-6" style="float: left">
                <div class="am-form-group am-form-icon">
                  <i class="am-icon-calendar"></i>
                  <input name="pdate" form="project" type="date" value="{{ project['pdate'] }}" class="am-form-field am-input-sm" required="required"></input>
                </div>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                项目标题
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="ptitle" form="project" rows="2" cols="25" name="ptitle" maxlength="50" placeholder="在项目列表展示，编辑详情时依然需要加入标题。（最多50字）" required="required">{{ project['ptitle'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                副标题
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="psubtitle" form="project" rows="4" cols="25" name="psubtitle" maxlength="100" placeholder="在项目列表展示，编辑详情时依然需要加入对应内容。（最多100字）" required="required">{{ project['psubtitle'] }}</textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
              <div class="am-u-sm-4 am-u-md-2 am-text-right"> 封面图片</div>
              <div id="uploader" class="wu-example am-u-sm-7" style="float: left" tp="project-cover-pic">
                <div id="thelist" class="uploader-list"></div>
                <div class="btns" id="project-cover-picker">
                  <div id="filePicker">选择图片</div>
                  <!--<button id="ctlbtn" class="btn btn-default">开始上传</button>-->
                </div>
              </div>
              <input id="project-cover-pic" type="text" name="pcover" value="{{ project['pcover'] }}" style="display: none;"></input>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                详情编辑
              </div>
            </div>
            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-6 am-u-end">
                <script id="editor" name="pdetail" type="text/plain" style="width:900px;height:500px;"></script>
              </div>
              <code id="pdetailcode" style="display: none">{{ project['pdetail'] }}</code>
            </div>

      	  </form>
        </div>
      </div>
    </div>

    <div class="am-margin">
      <button form="project" type="submit" formaction="/hehebb/project_edit/{{ project['res_id'] }}" formmethod="post" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 和和影业</p>
  </footer>
</div>
<script type="text/javascript" src="/static/bb/js/upload_rm.js"></script>
{% endblock content %}
{% block bodyscript %}
<script type="text/javascript">
  var ue = UE.getEditor('editor');
  {% if project %}
    $(document).ready(function(){
      ue.ready(function(){
        ue.setContent("");
        ue.execCommand("insertHtml", $("#pdetailcode").text());
      });
    })
  {% endif %}
</script>
<script type="text/javascript" src="/static/bb/uploader/webuploader.js"></script>
<script type="text/javascript" src="/static/bb/js/uploader.js"></script>
{% endblock bodyscript%}
