{% extends "hh_header.html" %}

{% block title %}添加伙伴{% endblock title %}

{% block keywords %}
<meta name="keywords" content="webroll">
{% endblock keywords %}

{% block specscript %}
<link rel="stylesheet" type="text/css" href="/static/bb/uploader/webuploader.css"></link>
{% endblock specscript %}

{% block content %}
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">伙伴管理</strong> /
        <small>添加</small>
      </div>
    </div>

    <hr>

    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">伙伴添加</a></li>
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <form id="webroll" class="am-form">

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                伙伴名称
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="rtitle" form="webroll" rows="1" cols="25" name="rtitle" maxlength="50" placeholder="伙伴名称，如：百度。（可选项）"></textarea>
              </div>
            </div>

            <div class="am-g am-margin-top">
          	  <div class="am-u-sm-4 am-u-md-2 am-text-right"> 上传LOGO</div>
          	  <div id="uploader" class="wu-example am-u-sm-7" style="float: left" tp="web-roll-logo">
                <div id="thelist" class="uploader-list"></div>
                <div class="btns" id="web-roll-picker">
                  <div id="filePicker">选择LOGO</div>
                </div>
              </div>
              <input id="web-roll-logo" type="text" name="rlogo" value="" style="display: none;"></input>
            </div>

            <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-4 am-u-md-2 am-text-right">
                跳转链接
              </div>
              <div class="am-u-sm-6 am-u-end">
                <textarea id="rlink" form="webroll" rows="2" cols="25" name="rlink" maxlength="100" placeholder="" required="required" placeholder="需要完整网页链接，如：https://www.baidu.com"></textarea>
              </div>
            </div>

      	  </form>
        </div>
      </div>
    </div>

    <div class="am-margin">
      <button form="webroll" type="submit" formaction="{{ url_for(".webrolls") }}" formmethod="post" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 和和影业</p>
  </footer>
</div>
<script type="text/javascript">
</script>
<script type="text/javascript" src="/static/bb/js/upload_rm.js"></script>
{% endblock content %}

{% block bodyscript %}
<script type="text/javascript" src="/static/bb/uploader/webuploader.js"></script>
<script type="text/javascript" src="/static/bb/js/uploader.js"></script>
{% endblock bodyscript%}
